@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Roboto:300,400,500,700,900&amp;display=swap");
html, body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    height: 100vh;
}

.navbar{
    list-style-type: none;
}

.navbar li{
    float: right;
    margin-right: 10px;
}

.navbar a{
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 7px;
    color:grey;
    overflow: hidden;
}

.navbar li a:hover{
    color:black;
}

.dropbtn {
    background-color: grey;
    color: white;
    font-size: 18px;
    border: none;
    padding:6px;
  }
  
.dropdown {
    display:block;
    float: right;
    margin-right: 55px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    right: 0;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;  
}
  
.dropdown:hover .dropbtn {
    background-color: black;
}

.image{
    height: 55vh;
    width: 55vh;
    border-radius: 50%;
    float: left;
    margin: 12.5vh 22.5vh 12.5vh 22.5vh;
}

.name{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 8vh;
    margin:0px;
    line-height: 9vh;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 21vh;
    padding-bottom: 0vw;
}

.introduction{
    display: inline;
    float: left;
    height: 80vh;
}

.icons{
    margin: 0vw 26.5vh 0vw 26.5vh;
}

.icons a{
    font-size: 5vh;
    color: #000000;
    padding: 3vh; 
}

.about{
    font-size: 18px;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 80vh;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 1000px) {
    .image{
        width: 80vw;
        height: 80vw;
        margin: 8vw 8vw 0vw 8vw;
        padding-bottom: 0vw;
    }
    .name{
        font-size: 15vw;
        line-height: 16vw;
        margin: 0vw;
        padding-top: 2.5vw;
    }
    .introduction{
        height: 35vw;
        margin: 0vw 0vw 0vw 0vw;
        padding: 0vw 0vw 0vw 0vw;
        width: 98vw;
        text-align: center;
    }
    .icons{
        margin: 0vw 19.5vw 0vw 19.5vw;
    }
    .icons a{
        font-size: 10vw;
        padding: 0vw 4vw 0vw 4vw;
    }
    .about{
        width: 96vw;
        margin-left: 0px ;
    }
}




