html, body {
    font-family: 'Poppins';
    overflow-x: hidden;
}

.navbar{
    list-style-type: none;
}

.navbar li{
    float: right;
    margin-right: 10px;
}

.navbar a{
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 7px;
    color:grey;
    overflow: hidden;
}

.navbar li a:hover{
    color:black;
}

.dropbtn {
    background-color: grey;
    color: white;
    font-size: 18px;
    border: none;
    padding:6px;
  }
  
.dropdown {
    position:fixed;
    right:0px;
    display:block;
    float: right;
    margin-right: 55px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    right: 0;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;  
}
  
.dropdown:hover .dropbtn {
    background-color: black;
}

.image{
    height: 60vh;
    width: 60vh;
    border-radius: 50%;
    float: left;
    margin: 10vh 20vh 10vh 20vh;
}

.name h1{
    font-weight: 200;
    font-size: 8vh;
    margin:0px;
    line-height: 10vh;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 35vh;
}

.introduction{
    display: inline;
    float: right;
    height: 80vh;
    margin-right: 40px;
}

@media screen and (max-width: 1000px) {
    .image{
        width: 80vw;
        height: 80vw;
        margin: 8vw 8vw 8vw 8vw;
    }
    .name h1{
        font-size: 15vw;
        line-height: 16vw;
        padding: 0px;
    }
    .introduction{
        height: 35vw;
        margin: 0px;
    }
}
