@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Roboto:300,400,500,700,900&amp;display=swap");
html, body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    height: 100vh;
    width: 99.5vw;
}

html{
    overflow-y: hidden;
}

.navbar{
    list-style-type: none;
}

.navbar li{
    float: right;
    margin-right: 10px;
}

.navbar a{
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 7px;
    color:grey;
    overflow: hidden;
}

.navbar li a:hover{
    color:black;
}

.dropbtn {
    background-color: grey;
    color: white;
    font-size: 18px;
    border: none;
    padding:6px;
  }
  
.dropdown {
    display:block;
    float: right;
    margin-right: 55px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    right: 0;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;  
}
  
.dropdown:hover .dropbtn {
    background-color: black;
}

.image{
    height: 55vh;
    width: 55vh;
    border-radius: 50%;
    float: left;
    margin: 12.5vh 22.5vh 12.5vh 22.5vh;
}

.name{
    font-family: 'Poppins', sans-serif;
    font-weight: 370;
    font-size: 9vh;
    margin: 0px;
    line-height: 9vh;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 25vh;
    padding-bottom: 0vw;
    color: rgb(37, 37, 37);
}

.introduction{
    display: inline;
    float: left;
    height: 80vh;
}

/* .icons{
    text-align: center;
}

.icons a{
    font-size: 5vh;
    color: #000000;
    padding: 0vh 3vh 0vh 3vh; 
} */

.aboutmetext{
    font-size: 2.5vh;
    margin-left: 5vh;
    font-weight: 300;
    text-align: center;
    width: 80vh;
}

.about{
    display: block;
    text-align: center;
}

.education .title{
    color: rgb(37, 37, 37);
    padding-left: 2vw;
}

@media screen and (max-width: 1350px) {
    .image{
        margin: 12.5vh 0vh 12.5vh 5vw;
    }
    .introduction{
        padding-left: 4vw;
    }
}

@media screen and (max-width: 1300px) {
    .introduction{
        padding-left: 10vw;
    }
}

@media screen and (max-width: 1100px) {
    .image{
        width: 60vw;
        height: 60vw;
        margin: 8vh 18vw 0vh 18vw;
        padding-bottom: 0vw;
    }
    .imagediv{
        text-align: center;
        width: 98vw;
    }

    .introduction{
        padding-left:1vw;
        margin: 0vw;
        width: 98vw;
    }
    .name{
        margin: 0vw;
        padding-top: 2.5vw;
    }
    .aboutmetext{
        width: 96vw;
        margin-left: 0px ;
        font-size: 4vh;
    } 
}

@media screen and (max-width: 850px) {
    .image{
        width: 70vw;
        height: 70vw;
        margin: 8vw 13vw 0vw 13vw;
        padding-bottom: 0vw;
    }
    .name{
        font-size: 12vw;
        line-height: 16vw;
        margin: 0vw;
        padding-top: 3vw;
    }
    .introduction{
        height: fit-content;
        margin: 0vw 0vw 0vw 0vw;
        padding: 0vw 0vw 0vw 0vw;
        width: 98vw;
        text-align: center;
    }
    /* .icons{
        margin: 0vw 19.5vw 0vw 19.5vw;
    }
    .icons a{
        font-size: 10vw;
        padding: 0vw 4vw 0vw 4vw;
    }*/
    .aboutmetext{
        width: 96vw;
        margin-left: 0px ;
        font-size: 16px;
    } 
}




