@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Roboto:300,400,500,700,900&amp;display=swap");
html, body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.navbar{
    list-style-type: none;
}

.navbar li{
    float: right;
    margin-right: 10px;
}

.navbar a{
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: 7px;
    color:grey;
    overflow: hidden;
}

.navbar li a:hover{
    color:black;
}

.dropbtn {
    background-color: grey;
    color: white;
    font-size: 18px;
    border: none;
    padding:6px;
  }
  
.dropdown {
    display:block;
    float: right;
    margin-right: 55px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    right: 0;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;  
}
  
.dropdown:hover .dropbtn {
    background-color: black;
}

.image{
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    float: left;
    margin: 7.5vw;
}

.name{
    font-family: 'Poppins', sans-serif;
    font-weight: 370;
    font-size: 4.5vw;
    margin: 0px;
    line-height: 5vw;
    padding-top: 12vw;
    padding-bottom: 0vw;
    color: rgb(37, 37, 37);
}

.introduction{
    display: inline;
    float: left;
    width: 55vw;
    text-align: center;
    height: fit-content;
}

.aboutmetext{
    font-weight: 300;
    font-size: 18px;
    width: 50vw;
    margin: 0vw 2.5vw 0vw 2.5vw;
}

.about{
    width: 95vw;
    display: block;
}

.education .title{
    color: rgb(37, 37, 37);
    font-size: 2.5vw;
    font-weight: 400;
    padding: 90vh 0vw 0vw 13vw;
    line-height: 2.5vw;
    margin-bottom: 10vh;
}

.education{
    width: 99vw;
}

.content1{
    width: 60vw;
    padding-left: 15vw;
    margin-bottom: 8vh;
}

.content1 h1{
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.content1 h2{
    font-weight: 300;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.content1 a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    color: rgb(0, 47, 255);
}

.work .title{
    color: rgb(37, 37, 37);
    font-size: 2.5vw;
    font-weight: 400;
    padding: 7vw 0vw 0vw 13vw;
    line-height: 2.5vw;
    margin-bottom: 10vh;
}

.work .subtitle{
    color: rgb(37, 37, 37);
    font-size: 1vw;
    font-weight: 100;
    padding: 0vw 0vw 0vw 13.5vw;
    line-height: 2vw;
    margin-bottom: 10vh;
}

.work{
    width: 99vw;
}

@media screen and (max-width: 1000px) {
    .image{
        width: 70vw;
        height: 70vw;
        margin: 8vw 13vw 0vw 13vw;
        padding-bottom: 0vw;
    }
    .name{
        font-size: 40px;
        line-height: 42px;
        margin: 0vw;
        padding-top: 3vw;
        font-weight: 500;
    }
    .introduction{
        height: fit-content;
        margin: 0vw;
        padding: 0vw;
        width: 98vw;
        text-align: center;
    }
    .aboutmetext{
        width: 96vw;
        margin-left: 0px ;
        font-size: 16px;
        margin-bottom: 70px;
    }
    .education{
        width: 99vw;
    } 
    .education .title{
        padding-top: 40px;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 40px;
        padding-left: 2vw;
    }
    .content1{
        margin: 0px 0px 25px 0px;
        padding-left: 2.5vw;
        width: 95vw;
    }
    .content1 h2, .school1 a{
        font-size: 15px;
    }
    .content1 h1 {
        font-size: 16px;
    }
    .work{
        width: 99vw;
    } 
    .work .title{
        padding-top: 40px;
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 0px;
        padding-left: 2vw;
    }
    .work .subtitle{
        padding-top: 20px;
        font-size: 17px;
        line-height: 35px;
        margin-bottom: 40px;
        padding-left: 2.1vw;
        font-weight: 100;
    }
}




